# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env/

# Dataset
data/raw/

# Trained models
trained_models/
*.pt
*.pth

# Tensorboard logs
reports/tensorboard/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/